# See https://help.github.com/ignore-files/ for more about ignoring files.

/node_modules

.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.vercel
.next

public/sw.js
public/sw.js.map
public/workbox*.js
public/workbox*.js.map

/locale/_build/
/locale/**/*.js
/locale/**/*.po

lokalise.yaml
locale/*.po
locale/*
locale/de.po
locale/en.po
locale/es-AR.po
locale/es.po
locale/fr.po
locale/it.po
locale/ja.po
locale/ko.po
locale/ro.po
locale/ru.po
locale/vi.po
locale/zh-CN.po
locale/zh-TW.po
